[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
Jinja2 = "*"
SQLAlchemy = {extras = ["asyncio"], version = "*"}
ujson = "*"
jsondiff = "*"
fastapi = "*"
neo4j = "*"
hypercorn = "*"
pandas = "*"
sse-starlette = "*"
aiomysql = "*"
beautifulsoup4 = "*"
pydantic-settings = "*"
aiomcache = "*"
apscheduler = "*"
pydantic = "*"
cryptography = "*"

[dev-packages]
pylint = "*"
bandit = "*"
autopep8 = "*"

[requires]
python_version = "3.12"
