[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
python-docx = "*"
python-memcached = "*"
"jinja2" = "*"
sqlalchemy = "*"
mysqlclient = "*"
fastapi = "*"
email-validator = "*"
ujson = "*"

[dev-packages]
pylint = "*"
requests = "*"

[requires]
python_version = "3.7"
