-i https://pypi.org/simple
aiomysql==0.1.1
anyio==3.6.1
emcache==0.6.1
fastapi==0.78.0
greenlet==1.1.2
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
jinja2==3.1.2
jsondiff==2.0.0
lxml==4.9.0
markupsafe==2.1.1
neo4j==5.0.0a1
numpy==1.23.0
pandas==1.4.3
priority==2.0.0
pydantic[dotenv]==1.9.1
pymysql==1.0.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.20.0
pytz==2022.1
six==1.16.0
sniffio==1.2.0
sqlalchemy[asyncio]==1.4.39
sse-starlette==0.10.3
starlette==0.19.1
toml==0.10.2
typing-extensions==4.2.0
ujson==5.3.0
wsproto==1.1.0
