-i https://pypi.org/simple
amqp==2.3.2
aniso8601==4.0.1
billiard==3.5.0.4
celery==4.2.1
certifi==2018.10.15
chardet==3.0.4
click==7.0
flask-restful==0.3.6
flask==1.0.2
idna==2.7
itsdangerous==1.1.0
jinja2==2.10
kombu==4.2.1
lxml==4.2.5
markupsafe==1.1.0
mysql-connector-python==8.0.13
protobuf==3.6.1
python-docx==0.8.7
python-memcached==1.59
pytz==2018.7
requests==2.20.1
six==1.11.0
sqlalchemy==1.2.14
urllib3==1.24.1
vine==1.1.4
werkzeug==0.14.1
